absl-py==2.3.1
accelerate==1.2.1
aiosignal==1.4.0
albucore==0.0.17
albumentations==1.4.18
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
av==12.3.0
babel==2.16.0
bddl==1.0.1
bleach==6.1.0
blessings==1.7
blobfile==3.0.0
cachetools==6.2.1
certifi==2025.10.5
cffi==1.17.1
charset-normalizer==3.4.4
click==8.3.0
cloudpickle==3.1.1
comm==0.2.2
contourpy==1.3.2
cramjam==2.11.0
cycler==0.12.1
d2l==1.0.3
debugpy==1.8.7
decord==0.6.0
defusedxml==0.7.1
diffusers==0.30.2
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring_parser==0.17.0
easydict==1.9
einops==0.8.1
etils==1.13.0
eval_type_backport==0.2.2
exceptiongroup==1.2.2
executing==2.1.0
Farama-Notifications==0.0.4
fastjsonschema==2.20.0
fastparquet==2024.11.0
filelock==3.20.0
flash-attn==2.7.1.post4
flatbuffers==25.9.23
fonttools==4.60.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2024.9.0
future==0.18.2
fvcore==0.1.5.post20221221
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
glfw==2.10.0
google-auth==2.41.1
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
-e git+https://github.com/JingxuanZhang77/QuantVLA_GR00T.git@0122241f1d0cd5f9e4b6b08e129e96eedd7e830d#egg=gr00t
grpcio==1.75.1
-e git+https://github.com/fatdove77/GuidedDiffusion.git@f19dff49d8f441d45dff71306dc0267cfb44ad16#egg=guided_diffusion
gym==0.25.2
gym-notices==0.1.0
gymnasium==1.0.0
h11==0.14.0
h5py==3.12.1
hf-xet==1.1.10
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.35.3
hydra-core==1.3.2
idna==3.11
imageio==2.34.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.3.0
iopath==0.1.10
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.6
json5==0.9.25
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
jupytext==1.18.1
keras==2.15.0
kiwisolver==1.4.7
kornia==0.7.4
kornia_rs==0.1.9
lazy_loader==0.4
libclang==18.1.1
-e git+https://github.com/Lifelong-Robot-Learning/LIBERO.git@8f1084e3132a39270c3a13ebe37270a43ece2a01#egg=libero
llvmlite==0.40.1
lxml==5.3.0
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.1.2
mujoco==3.3.7
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==7.2.2
notebook_shim==0.2.4
numba==0.57.1
numpy==1.24.4
numpydantic==1.6.7
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.17.0
opencv-python==4.8.0.74
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
peft==0.17.0
pettingzoo==1.25.0
pillow==12.0.0
pipablepytorch3d==0.7.6
platformdirs==4.5.0
pluggy==1.6.0
portalocker==3.2.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
protobuf==3.20.3
psutil==7.1.1
pure_eval==0.2.3
pyarrow==14.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.2
PyOpenGL==3.1.10
pyparsing==3.2.5
pytest==8.4.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole==5.6.0
QtPy==2.4.1
ray==2.40.0
referencing==0.35.1
regex==2025.9.18
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.2.0
robosuite==1.4.0
rpds-py==0.20.0
rsa==4.9.1
safetensors==0.6.2
scikit-image==0.25.2
scipy==1.15.3
Send2Trash==1.8.3
sentry-sdk==2.42.0
setproctitle==1.3.7
shtab==1.7.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
stack-data==0.6.3
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado==0.18.1
tianshou==0.5.1
tifffile==2025.5.10
timm==1.0.14
tinycss2==1.3.0
tokenizers==0.21.4
tomli==2.3.0
torch==2.5.1
TorchCodec==0.1.0
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
triton==3.1.0
typeguard==4.4.2
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tyro==0.9.17
tzdata==2024.2
uri-template==1.3.0
urllib3==2.5.0
wandb==0.18.0
webcolors==24.8.0
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.14.2
yacs==0.1.8
zipp==3.23.0